body {
  background-color: #eff3f8 !important;
  margin: 0;
  padding: 0;
}
.MainBody {
  margin: 1%;
}
.MainHeader {
  font-size: 1.3rem;
  /* color: #4689FF; */
  padding: 0.5rem 0rem;
  margin: 0;
}
.ContentText {
  font-size: 1rem;
  padding: 0.2rem 0rem;
  margin: 0;
  font-weight: bold;
}
.MainText {
  margin: 0;
}
/* The Modal (background) */

.BtnAlign {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
}

.Btn1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Btn2 {
  background-color: #13aa52;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;

  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.LinkBtn {
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  font-size: 1rem;
}

.propsButton {
  display: flex;
  gap: 10px;
  margin: 12px 8px;
}

.tableTitle {
  text-align: center;
  font-size: 1.6rem !important;
}

.horizontalDivider {
  border-top: 2px dashed #acb1b794;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*-------------MobileView--------*/
@media only screen and (max-width: 600px) {
  .tableTitle {
    font-size: 1rem !important;
  }
}
