nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f5f5f5;
}

.dropdown {
  position: relative;
}

.dropdown a {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
  padding: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
  color: #333;
}
