.frame {
  overflow-y: auto;
  padding: 1.1%;
  background-color: white;
  border-radius: 0.7rem;
}

.MainHeader {
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
}

.TableHeaderText {
  font-weight: 700;
  color: #495057;
  padding-left: 0;
  font-size: 0.82rem;
}

.EditBtn {
  color: #0085f7;
}
.DelBtn {
  color: rgb(235, 53, 53);
}

.delbtn2 {
  font-size: 16px;
  color: #495057;
  margin-left: -10px;
}
.DeleteBtnAlign {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  margin-top: 0.5rem;
  column-gap: 0.7rem;
}
.PopupDelBtn {
  background-color: #f5c9ac;
  border-radius: 1rem;
  color: rgb(37, 19, 19);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 5px;
  font-weight: 600;
}
.PopupCancelBtn {
  background-color: #b6d1f8;
  border-radius: 1rem;
  color: rgb(6, 19, 94);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 5px;
  font-weight: 600;
}

.PageOption {
  margin-left: 2.5rem;
  border-radius: 7px;
  border-color: #bebebe;
}
.ExIcon {
  color: red !important;
  font-size: 2rem;
}
button {
  border: none;
  background: none;
}

.PAgebtn {
  background-color: none;
  font-size: 1rem;
  color: #495057;
  font-size: 1.2rem;
  border-radius: 8px;
  padding-top: 0.18rem;
}

.PageNo {
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.0470588235);
  border-radius: 50%;
  background-color: rgba(227, 233, 236, 0.7333333333);
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-weight: 400;
}

.test {
  background-color: red;
}

.FilterSection {
  margin: 0;
  padding: 9px 10px;
}

.FilterInput {
  color: #495057;
  background: #fff;
  padding: 0.35rem 0.35rem;
  border: 1px solid #ced4da;
  outline: 0 none;
  font-size: 0.9rem;
  border-radius: 4px;
}

.FilterInput:hover {
  border: 1px solid #3272b3;
}

.Editbtn {
  font-size: 16px;
  color: #495057;
  margin-left: -10px;
}

.delbtn {
  font-size: 16px;
  color: #495057;
  margin-left: -10px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
  background-color: #fefefe;
  margin: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 20%;
  padding: 1rem;
  border-radius: 8px;
}

.PopupHeader {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.PopupFooter {
  display: flex;
  justify-content: center;
}

.Tdata {
  display: grid;
  padding: 0.5rem 2rem 1rem 1rem;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1.05rem;
  border-radius: 6px;
}

.ToolbarLeft {
  display: flex;
  align-content: center;
}

.FaPlus {
  font-size: 10px;
}

.CreateNew {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.CreateNew:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.CreateNew:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.CreateNew:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

/* Delete Btn */
.Delete {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.Delete:hover,
.Delete:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.Delete:active {
  opacity: 0.5;
}

.ImportExcelBtn {
  padding: 3px 14px;
  /* border: 1px solid black; */
  background: green;
  color: white;
  border-radius: 6px;
  font-size: 0.82rem;
}

.ExpotJsonbtn {
  padding: 3px 14px;
  /* border: 1px solid black; */
  background: blue;
  color: white;
  border-radius: 6px;
  font-size: 0.82rem;
}

.ToolbarRight {
  display: flex;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.Upload {
  display: grid;
  row-gap: 6px;
}

.InputSectionHide {
  display: none;
}

.Export {
  display: grid;
  row-gap: 6px;
}

/* CSS */
.button33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 5px;
}

.button34 {
  margin-left: 5px;
  background-color: #ffdede;
  border-radius: 100px;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.TableHeaderText2 {
  font-size: 10px;
}

.TablePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.9rem;
}

/*-------------MobileView--------*/
@media only screen and (max-width: 600px) {
  .modalcontent {
    width: 80% !important;
  }
  .MainHeader {
    font-size: 0.9rem !important;
  }
}
