.frame {
  background-color: aqua;
  height: 80vh;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
  color: white;
}
